<div class="home__container">
    <app-card
        gameImg="https://image.api.playstation.com/vulcan/ap/rnd/202110/2000/3UwtyLer3xjXOX2qlhunnvnJ.png"
        gameLabel="Promotion -34%"
        consoleType="DIGITAL PS5 | PS4"
        gamePrice="R$ 197,93"
        gameLink="https://store.playstation.com/pt-br/product/UP0700-PPSA04610_00-ELDENRING0000000"
    ></app-card>
    <app-card
        gameImg="https://image.api.playstation.com/vulcan/ap/rnd/202208/0921/Ah7Ar9MU0r1BBlzAUflmhyQP.png"
        gameLabel="Exclusive"
        consoleType="DIGITAL PS5 | PS4"
        gamePrice="R$ 349,90"
        gameLink="https://store.playstation.com/pt-br/product/UP1018-PPSA01593_00-HOGWARTSLGCYDELX"
    ></app-card>
    <app-card
        gameImg="https://image.api.playstation.com/vulcan/ap/rnd/202208/1718/NFf86jgU4AeVYgJBEoEKBpxW.jpg"
        gameLabel="STANDARD EDITION"
        consoleType="DIGITAL PS5 | PS4"
        gamePrice="R$ 239,90"
        gameLink="https://store.playstation.com/pt-br/product/UP0001-PPSA07230_00-EDITIONSTANDARD0"
    ></app-card>
    <app-card
        gameImg="https://m.media-amazon.com/images/I/616+j9jEM4L._AC_UF894,1000_QL80_.jpg"
        gameLabel="Exclusive"
        consoleType="DIGITAL PS4"
        gamePrice="R$ 199,50"
        gameLink="https://store.playstation.com/pt-br/product/UP9000-CUSA07820_00-THELASTOFUSPART2"
    ></app-card>
    <app-card
        gameImg="https://image.api.playstation.com/vulcan/ap/rnd/202207/1210/EUg935xYj1xnRS8jkKAapzCp.png"
        gameLabel="Exclusive"
        consoleType="DIGITAL PS5 | PS4"
        gamePrice="R$ 349,90"
        gameLink="https://store.playstation.com/pt-br/concept/10001850"
    ></app-card>
    <app-card
        gameImg="https://cdn1.epicgames.com/offer/8962863aee2f4e7483fc37d4719c3f69/EGS_PAYDAY3_Starbreeze_S2_1200x1600-80e39c5ee902cba196b484464276c8b7"
        gameLabel="Exclusive"
        consoleType="DIGITAL PS5"
        gamePrice="R$ 220,00"
        gameLink="https://store.playstation.com/pt-br/concept/10007263"
    ></app-card>
</div>
