.home__container {
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
    padding-top: 6rem;
    display: flex;
    gap: 2rem;

    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}