<div class="home__container">
    <app-card
        gameImg="assets/images/tlou.jpg"
        gameLabel="Exclusive"
        consoleType="DIGITAL PS5"
        gamePrice="R$ 349,90"
        gameLink="https://store.playstation.com/pt-br/product/UP9000-PPSA03396_00-THELASTOFUSPART1"
    ></app-card>
    <app-card
        gameImg="assets/images/god-of-war.jpg"
        gameLabel="Exclusive"
        consoleType="DIGITAL PS4"
        gamePrice="R$ 99,50"
        gameLink="https://store.playstation.com/pt-br/product/UP9000-CUSA07408_00-00000000GODOFWAR"
    ></app-card>
    <app-card
        gameImg="assets/images/red-dead-redemption.jpg"
        gameLabel="Promotion"
        consoleType="DIGITAL PS4"
        gamePrice="R$ 248,90"
        gameLink="https://store.playstation.com/pt-br/product/UP1004-CUSA03041_00-REDEMPTIONFULL02"
    ></app-card>
</div>
