<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img 
            src="../../../assets/images/ps-logo.png"
            alt="PlayStation Store logo"
        >
    </div>
    <div class="menu-bar__items">
        <ul>
            <li><a
                href="https://www.linkedin.com/in/contato-jeferson-luis/"
                target="_blank">
                LinkedIn</a></li>
            <li><a 
                href="https://github.com/JefersonLRS "
                target="_blank">
                Github</a></li>
            <li><a
                href="mailto:contato.jefersonlrs@gmail.com"
                target="_blank">
                Contato</a></li>
            <li><a 
                href="https://angular-blog-ishfeqi45-httpjef.vercel.app"
                target="_blank"
                >Portfólio</a></li>
        </ul>
    </div>
</div>
