@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(9, 9, 10);
    /* background: linear-gradient(70deg, rgb(0, 0, 0) 0%, rgb(12, 12, 77) 45%, rgb(0, 0, 0) 100%); */
}

html {
    scroll-behavior: smooth;
}